.alert {
    margin-top: 15px;
    display: none;
}

#saveEdit {
    display: none;
}

.labelShowOP {
    display: block;
}

.spanNamOP {
    font-weight: 900;
    color: #c82333;
}

.noFound {
    color: tomato;
    font-weight: 800;
    font-style: italic;
}
.table-bordered .Name-p {
    text-transform: capitalize;
}
.table-bordered .Name-p span{
    background-color: yellow;
}